.about {
  padding-bottom: 50px;
  padding-top: 50px;
  background-image: url("../img/background-bg-01.jpg");
  background-size: cover;
  text-align: center;

  &__title {
    display: inline-block;
    margin: 0;
    color: @color-band;
    margin-bottom: 30px;

    &::after {
      background-color: @color-band;
      opacity: 0.2;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    font-size: @font-size--medium;
    font-family: 'PlayfairDisplay', 'Roboto Slab', serif;
    font-weight: 700;
    color: @color-text--dark;
  }

  &__desc {
    font-size: @font-size--small;
    color: @color-text--dark;
  }

  @media @screen-xs {
    text-align: left;

    &__subtitle {
      max-width: 550px;
      font-size: 31px;
    }

    &__desc {
      max-width: 560px;
      font-size: 23px;
    }
  }

  @media @screen-md {
    padding-top: 190px;
    padding-bottom: 190px;
    background-position: center;

    &__title {
      font-size: 72px;
    }

    &__subtitle,
    &__desc {
      max-width: 690px;
    }
  }
}
