.albums {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ececec;
  text-align: center;

  &__title {
    display: inline-block;
    margin: 0;
    color: @color-albums;
    margin-bottom: 30px;

    &::after {
      background-color: @color-albums;
      opacity: 0.2;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    font-size: @font-size--medium;
    font-family: 'PlayfairDisplay', 'Roboto Slab', serif;
    font-weight: 700;
    color: @color-text--dark;
  }

  &__input {
    display: none;
  }

  &__pic {
    margin: 0;

    &:nth-child(n+2) {
      display: none;
    }
  }

  &__link {
    display: block;
  }

  &__img {
    vertical-align: top;
  }

  &__caption {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #ffffff;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  &__name {
    font-family: 'PlayfairDisplay', 'Roboto Slab', serif;
    font-weight: 700;
    color: @color-text--dark;
    font-size: @font-size--medium;
  }

  &__category {
    font-family: 'PlayfairDisplay', 'Roboto Slab', serif;
    font-weight: 400;
    font-size: @font-size--tiny;
    color: #b7bac2;
  }

  &__btns {
    display: flex;
    flex-direction: row;
  }

  &__btn {
    color: #e5e5e5;
    font-size: 17px;

    &--more {
      margin-right: auto;
    }

    &--add {
      margin-right: 20px;
    }
  }

  &__controls {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 72px;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: 50px;
  }

  &__control {
    display: block;
    width: 15px;
    height: 15px;
    background-color: #b9b9ba;
    opacity: 0.3;
    border-radius: 50%;
    margin-right: 12px;

    &--active {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__slider {
    position: relative;
  }

  &__button {
    position: absolute;
    padding: 0;
    width: 10px;
    border: none;
    background-color: transparent;
    outline: transparent;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    color: #434248;

    &--prev {
      &::before {
        position: absolute;
        content: "←";
        width: 25px;
        height: 25px;
      }
    }

    &--next {
      &::before {
        position: absolute;
        content: "→";
        width: 25px;
        height: 25px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
