.main-nav {
  position: fixed;
  padding-top: 15px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: @color-nav;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
  }

  &__list {
    max-height: 384px;
    overflow-y: scroll;
    background-color: @color-nav--dark;
    margin-left: -15px;
    margin-right: -15px;


    &--opened {
      opacity: 1;
      height: auto;
      transition: all 1s ease-out;
    }

    &--closed {
      transition: all 1s ease-out;
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
  }

  &__pic {
    display: block;
    text-align: left;
  }

  &__logo {
    vertical-align: top;
  }

  &__toggler span {
    position: absolute;
    display: block;
    width: 29px;
    height: 2px;
    background-color: @color-text;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 8px;
    }

    &:nth-child(3) {
      top: 17px;
    }
  }

  &__toggler {
    width: 29px;
    height: 19px;
    display: block;
    padding: 0;
    position: relative;
    background-color: transparent;
    border: none;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    outline: transparent;

    &--opened span {
      &:nth-child(1) {
        top: 10px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 10px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }


  &__link {
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: @font-size--tiny;
    line-height: @line-height--medium;
    text-transform: uppercase;

    &:hover {
      color: @color-link--hover;
    }

    &:active {
      color: darken(@color-link--hover, 20%);
    }
  }
}
