.media {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../img/background-bg-05.jpg");
  text-align: center;

  &__title {
    display: inline-block;
    margin: 0;
    color: @color-h2--green;
    margin-bottom: 30px;

    &::after {
      background-color: @color-h2--green;
    }
  }

  &__subtitle {
    margin-bottom: 50px;
    font-size: @font-size--medium;
    font-family: 'PlayfairDisplay', 'Roboto Slab', serif;
    font-weight: 700;
    color: @color-text;
  }

  &__btns {
    display: flex;
    justify-content: center;
  }

  &__btn {
    display: block;
    width: 120px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: @color-text;
    font-size: @font-size--small;
    line-height: @line-height--medium;
    border-radius: 30px;


    &--left {
      background-color: @color-h2--green;
      border-top-right-radius: initial;
      border-bottom-right-radius: initial;
    }

    &--right {
      background-color: @color-text;
      color: @color-text--dark;
      border-top-left-radius: initial;
      border-bottom-left-radius: initial;
    }
  }
}
