.quotes {
  background-image: url("../img/background-bg-03.jpg");
  background-size: cover;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;

  &__input {
    display: none;
  }

  &__slide {
    font-family: 'PlayfairDisplay', 'Roboto Slab', serif;
    font-weight: 700;
    font-size: @font-size--medium;
    color: @color-quote;
  }
}
