.slider {
  padding-top: 150px;

  &__input {
    display: none;
  }

  &__heading {
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
  }

  &__quote {
    margin-bottom: 10px;
    font-size: @font-size--slider;
    font-weight: 700;
  }

  &__author {
    position: relative;
    font-size: @font-size--medium;
    font-style: normal;

    &::before {
      content: "—";
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
    }
  }

  &__page {
    margin-bottom: 35px;
    cursor: grab;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 72px;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  &__control {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: @color-text;
    opacity: 0.5;
    cursor: pointer;

    &--active {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media @screen-xs {
    &__quote {
      font-size: @font-size--big;
    }
  }

  @media @screen-sm {
    padding-top: 230px;
  }

  @media @screen-md {

    &__page {
      max-width: 945px;
      margin: 0 auto;
      margin-bottom: 35px;
    }

    &__quote {
      font-size: 72px;
    }

  }
}
