.team {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
  background-image: url(../img/backgroung-bg-02.jpg);
  background-size: cover;
  text-align: center;

  &__title {
    display: inline-block;
    margin: 0;
    color: @color-text;
    margin-bottom: 30px;

    &::after {
      background-color: @color-text;
      opacity: 0.2;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    font-size: @font-size--medium;
    font-family: 'PlayfairDisplay', 'Roboto Slab', serif;
    font-weight: 700;
    color: @color-text;
  }
}
