.team {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../img/backgroung-bg-02.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;

  &__title {
    display: inline-block;
    margin: 0;
    color: @color-text;
    margin-bottom: 30px;

    &::after {
      background-color: @color-text;
      opacity: 0.2;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    font-size: @font-size--medium;
    font-family: 'PlayfairDisplay', 'Roboto Slab', serif;
    font-weight: 700;
    color: @color-text;
  }

  &__slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__input {
    display: none;
  }

  &__link {
    &:nth-of-type(n+2) {
      display: none;
    }
  }

  &__caption {
    display: flex;
    flex-direction: column;
  }

  &__name {
    display: block;
    font-size: @font-size--medium;
    font-family: 'PlayfairDisplay', 'Roboto Slab', serif;
    font-weight: 700;
    color: @color-text;
  }

  &__category {
    display: block;
    font-size: @font-size--small;
    font-family: 'PlayfairDisplay', 'Roboto Slab', serif;
    font-weight: 700;
    color: @color-text;
    opacity: 0.54;
  }

  &__img {
    vertical-align: top;
  }

  &__pic {
    max-width: 200px;
    margin: 0;
  }

  &__pics {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    display: block;
    width: 34px;
    height: 12px;
    border: none;
    background-color: transparent;
    padding: 0;

    &--prev {
      background-image: url("../img/arrow-l.png");
    }

    &--next {
      background-image: url("../img/arrow-r.png");
    }
  }

  &__controls {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 72px;
    margin: 0 auto;
    margin-top: 30px;
  }

  &__control {
    display: block;
    width: 15px;
    height: 15px;
    background-color: @color-text;
    opacity: 0.3;
    border-radius: 50%;
    margin-right: 12px;

    &--active {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media @screen-xs {

    &__subtitle {
      font-size: 31px;
      margin-bottom: 30px;
    }

    &__link {
      &:first-of-type {
        margin-right: 10px;
      }

      &:nth-of-type(n + 2) {
        display: initial;
      }

      &:nth-of-type(2n+2) {
        display: none;
      }
    }

    &__button {
      &--prev {
        margin-right: 10px;
      }

      &--next {
        margin-left: 10px;
      }
    }
  }

  @media @screen-sm {

    &__title {
      margin-bottom: 40px;
    }

    &__subtitle {
      margin-bottom: 50px;
    }

    &__pic {
      max-width: 300px;
    }

    &__name {
      font-size: 38px;
    }
  }

  @media @screen-md {
    padding-top: 160px;
    padding-bottom: 135px;

    &__title {
      font-size: 72px;
    }

    &__subtitle {
      margin: 0 auto;
      margin-bottom: 50px;
      max-width: 830px;
    }

    &__link {
      margin-right: 10px;

      &:nth-of-type(2n+2) {
        display: initial;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media @screen-lg {
    overflow: hidden;

    &__pics {
      position: relative;
    }

    &__pic {
      max-width: 360px;
    }

    &__button {
      position: absolute;
      margin: 0 !important;

      &--prev {
        left: -50px;
      }

      &--next {
        right: -50px;
        margin: 0;
      }
    }

    &__link {
      margin: 0 !important;


      &:nth-of-type(2n+2) {
        margin: 0;
      }

      &:first-of-type {
        margin: 0;
      }
    }
  }
}
